<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout for IDLE Order Display System 3, by Michael Amaya</title>
        <meta name="version" content="3.0">
        <meta name="author" content="Michael Amaya">
        <link rel="stylesheet" href="../stylesheets/layout-idle-nobs.css">
    </head>
    <body>
        <div class="img-container">
            <img id="currentImage" src="../images/pic.jpg" />
        </div>
        <script src="../scripts/layout-idle-nobs.js"></script>
    </body>
</html>