<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="version" content="3.0">
        <meta name="author" content="Michael Amaya">
        <title>Layout for ORDER Order Display System 3, by Michael Amaya</title>
        <link rel="stylesheet" href="../stylesheets/layout-order-nobs.css">
    </head>
    <body>
        <div class="main-view">
            <div id="order-main" class="order-main">
                
            </div>
            <div class="order-side">
                <img id="side-image" src="../images/corner.png" />
                <p id="description" class="description">Description Message</p>
            </div>
        </div>
        <div class="totals-view">
            <p id="subtotaltext" class="totals">Subtotal: </p><p id="subtotal" class="subtotal totals">$0.00</p>&emsp;&emsp;&emsp;
            <p id="taxtext" class="totals">Tax: </p><p id="tax" class="tax totals">$0.00</p>&emsp;&emsp;&emsp;
            <p id="totaltext" class="totals">Total: </p><p id="total" class="total totals">$0.00</p>&emsp;&emsp;&emsp;
        </div>
        <script src="../scripts/layout-order-nobs.js"></script>
    </body>
</html>
