<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Layout for TOTAL Order Display System 3, by Michael Amaya</title>
        <meta name="version" content="3.0">
        <meta name="author" content="Michael Amaya">
        <link rel="stylesheet" href="../stylesheets/layout-total-nobs.css">
    </head>
    <body>
        <img class="background-image" src="images/paymentbg.png" />
        <div class="well totals">
            <table class="center">
                <tr>
                    <td class="column-left">Subtotal:</td>
                    <td id="subtotal" class="column-right">$0.00</td>
                </tr>
                <tr>
                    <td class="column-left">Tax:</td>
                    <td id="tax" class="column-right">$0.00</td>
                </tr>
                <tr>
                    <td class="column-left">Total:</td>
                    <td id="total" class="column-right">$0.00</td>
                </tr>
            </table>
        </div>
        <script src="../scripts/layout-total-nobs.js"></script>
    </body>
</html>